
.nav {
    display: flex;
    height: 60px;
    width: 100%;
    position: relative;
    background: rgb(255, 212, 0);
}

.nav .logo {
    flex: 0 0 100px;
}

.space {
    flex: 1
}

@media all and (min-width: 456px) {
    .nav .item-icon {
        display: none
    }

    .nav .item-list {
        flex: 0 0 300px;
        margin-right: 20px;
    }
    
    .nav .item-list .item {
        display: inline-block;
        width: 89px;
        height: 29px;
        padding-top: 29px;
        border-top-width: 0px;
        border: 1px solid rgb(255, 212, 0);
        text-align: center;
        transition: 0.5s;
    }
    
    .nav .item-list .item:hover {
        background: #ff7b00;
        border-radius: 1px;
        border-top-width: 0px;
        border: 1px solid #868686;
        cursor:pointer;
    }
    
    .nav .item-list .item.active {
        background: #ff7b00;
        border-radius: 1px;
        border-top-width: 0px;
        border: 1px solid #868686;
    }
}

@media all and (max-width: 455px) {
    .nav .item-icon {
        flex: 0 0 59px;
        position: relative;
        display: inline-block;
        border-left: 1px solid #868686;
    }

    .nav .item-icon.active {
        background: #ff7b00;
    }

    .nav .item-list{
        display: none;
        animation: 1s switch;
    }

    .nav .item-list.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0px;
        z-index: 100;
    }

    .nav .item-list .item {
        width: 90px;
        height: 39px;
        display: block;
        text-align: center;
        transition: 0.5s;
        background: rgb(255, 212, 0);
        border-bottom: 1px solid #868686;    
    }

    .nav .item-list .item.active {
        background: #ff7b00;
    }
}

.main img {
    width: 100%;
    height: 100%;
    animation: 1s switch;
}

@keyframes switch {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    display: flex;
    height: 200px;
    width: 100%;
    background: rgb(255, 212, 0);
}

.footer .info {
    width: 455px;
    margin: 20px 0px;
    border-left: 1px solid #868686;
    border-right: 1px solid #868686;
}

.footer .info .map {
    display: inline-block;
    width: 160px;
    height: 159px;
    margin: 0px 5px 0px 10px;
    border: 1px solid #ccc;
}

.iw_poi_title {
    color:#CC5522;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}

.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}


.footer .info .intro {
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px 0px 5px;
    line-height: 42px;
}